NEXT_PUBLIC_SUPABASE_URL=https://aqdqlwmkyhdtbyraublq.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Om3H7EQABWn6rUjxnyL0PA_0QTckVjo
SUPABASE_SERVICE_ROLE_KEY=sb_secret_lcr5PVozTKkF_G3gOxXWgw_sJ54pW6f