@layer components {
	.navigation-list {
		@apply flex flex-col gap-4;
	}
	.icon {
		@apply h-6 w-6 shrink-0 2xl:h-7 2xl:w-7;
	}
	.btn-base {
		@apply bg-card text-card-foreground shadow shadow-neutral-400;
	}
	.btn-primary {
		@apply bg-primary text-primary-foreground;
	}
}
