:root {
	--background: #f1f5f9;
	--foreground: #111827;
	--card: #ffffff;
	--card-foreground: #111827;
	--primary: #4f46e5;
	--primary-foreground: #ffffff;
	--secondary: #10b981;
	--secondary-foreground: #ffffff;
	--muted: #919191;
}

.dark {
	--background: #0f172a;
	--foreground: #f9fafb;
	--card: #1e293b;
	--card-foreground: #f9fafb;
	--primary: #6366f1;
	--primary-foreground: #ffffff;
	--secondary: #34d399;
	--secondary-foreground: #0f172a;
	--muted: #334155;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--font-rubik: var(--font-rubik);
	--font-inter: var(--font-inter);
}